*{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Poppins', sans-serif;
}
 .container{
    background:linear-gradient(to right,#309975,#58B368)
 }
    .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
       
}
.first-line{
    display:flex ;
 
  }
.head{
    margin-left: 10px;
    font-size: 28px;
    width: 128px;  
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}
a{
    text-decoration-line: none;
}
li{
    margin-left: 10px;
}
.gold-button{
    margin-left: 10px;
    color: #309975;
    background-color: #DAD873;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
  }
